<h1 class="text-center">Locker Rounds</h1>
<%= render 'mc/locker/navigations' %>
<hr />
<%= link_to "Create New Round", new_mc_locker_locker_round_path, class: "button radius success" %>
<p>
	Note: Randomly Allocate button will only be activated for Round that is closed.
</p>
<br>
<table align="center">
	<thead>
		<tr>
			<th>ID</th>
			<th>Acad Year</th>
			<th>Label</th>
			<th>Start</th>
			<th>End</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @rounds.each do |round| %>
			<tr id="round-<%= round.id %>">
				<td><%= link_to round.id, mc_locker_locker_round_path(round) %></td>
				<td><%= round.acad_year %></td>
				<td><%= round.label %></td>
				<td><%= local_time round.start %></td>
				<td><%= local_time round.end %></td>
				<td>
					<%= link_to "Delete", mc_locker_locker_round_path(round), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "button radius alert" %>
					<%= button_to "Randomly Allocate", mc_locker_allocate_path, method: :post, params: { round: round }, class: "button radius success" if DateTime.now > round.end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
