<div class="row">

  <div class="columns small-12">
    <h3 class="bold">Locker Management</h3>
    <%= render 'warning' %>
  </div>

  <div class="columns small-12">
    <%= render 'navigations' %>
  </div>

  <div class="columns small-12">
    <h3>System Guide</h3>
    <ul class="square">
      <li><strong>General Info</strong>: This panel, overview of the system and its current state.</li>
      <li><strong>Locker Rounds</strong>: Management of balloting rounds.</li>
      <li><strong>Locker Ballots</strong>: Management of locker ballots.</li>
      <li><strong>Locker Allocations</strong>: Management of locker allocations.</li>
      <li><strong>Lockers</strong>: Management of the lockers themselves.</li>
    </ul>
  </div>

  <hr>

  <div class="columns medium-6">
    <h3>Current Round</h3>
    <p>
      <strong>Label:</strong><br>
      <%= @current_round ? link_to(@current_round.name, mc_locker_locker_round_path(@current_round)) : "No round active" %>
    </p>
    <p>
      <strong>Number of Ballots Received:</strong><br>
      <%= @current_round ? @current_round.ballots.count : "N/A" %>
    </p>
  </div>

  <div class="columns medium-6">
    <h3>Previous Round</h3>
    <p>
      <strong>Label:</strong><br>
      <%= @last_round ? link_to(@last_round.name, mc_locker_locker_round_path(@last_round)) : "None" %>
    </p>
    <p>
      <strong>Number of Ballots Received:</strong><br>
      <%= @last_round ? @last_round.ballots.count : "N/A" %>
    </p>
    <p>
      <strong>Number of Lockers Allocated:</strong><br>
      <%= @last_round ? @last_round.allocations.count : "N/A" %>
    </p>
  </div>

</div>

