<table align="center">
	<thead>
		<tr>
			<th width="200">ID</th>
			<th width="200">User</th>
			<th width="200">Faculty</th>
			<th width="200">Location</th>
		  <th width="200">Time</th>
			<th width="200">Action</th>
		</tr>
	</thead>
	<tbody>
		<% if ballots %>
			<% ballots.each do |ballot| %>
				<tr id='<%= "ballot-#{ballot.id}" %>'>
					<td><%= ballot.id %></td>
					<td><%= ballot.user.uid %></td>
					<td><%= ballot.user.faculty %></td>
					<td><%= ballot.location %></td>
				  <td><%= local_time ballot.created_at %></td>
					<td>
						<%= link_to 'Edit', edit_mc_locker_locker_ballot_path(ballot), class: 'button radius info expand' %>
						<%= link_to 'Delete', mc_locker_locker_ballot_path(ballot), method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'button radius alert expand' %>
					</td>
				</tr>
			<% end %>
			<%= paginate ballots %>
		<% end %>
	</tbody>
</table>
