<table width="100%">
  <thead>
  <tr>
    <th>User</th>
    <th>Faculty</th>
    <th>Location</th>
    <th>Created</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% if ballots %>
    <% ballots.each do |ballot| %>
      <tr id='<%= "ballot-#{ballot.id}" %>'>
        <td><%= ballot.user.uid %></td>
        <td><%= ballot.user.faculty %></td>
        <td><%= ballot.location %></td>
        <td><%= local_time ballot.created_at %></td>
        <td>
          <ul class="button-group stack radius">
            <li><%= link_to 'View', mc_locker_locker_ballot_path(ballot), class: 'button info small expand' %></li>
            <li><%= link_to 'Edit', edit_mc_locker_locker_ballot_path(ballot), class: 'button small expand' %></li>
          </ul>
        </td>
      </tr>
    <% end %>
    <%#= paginate ballots %>
  <% end %>
  </tbody>
</table>
