<div class="row">

  <div class="columns small-12">
    <h3 class="bold">Locker Details</h3>
  </div>

  <div class="columns small-12">
    <table width="100%">
      <tr>
        <th>Location</th>
        <td><%= @locker.location %></td>
      </tr>
      <tr>
        <th>Number</th>
        <td><%= @locker.number %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @locker.status %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><%= link_to(@locker.current_allocation.user.uid, mc_locker_locker_allocation_path(@locker.current_allocation)) if @locker.current_allocation %></td>
      </tr>
      <tr>
        <th>Database ID</th>
        <td><%= @locker.id%></td>
      </tr>
    </table>
  </div>

  <div class="columns small-12">
    <p>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#previous-allocations">
          <%= fa_icon 'users', text: 'Allocation History', right: false %>
          <%= fa_icon 'chevron-down', class: 'text-muted pull-right' %>
        </a>
        <div id="previous-allocations" class="content">
          <ul>
            <% @locker.allocations.archived.each if @locker.allocations.archived do |alloc| %>
              <li><%= link_to "#{alloc.user.uid} for #{alloc.round.acad_year}", mc_locker_locker_allocation_path(alloc) %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    </p>
  </div>

  <div class="columns small-12">
    <%= link_to 'Back', :back, class: 'button radius info' %>
  </div>

</div>
