<div class="row">

  <div class="small-12 columns">
    <h3 class="bold">Lockers in SoC</h3>
	  <%= render 'announcements' %>
    <%= render 'about' %>
  </div>

  <hr>

  <div class="small-12 columns">
    <h3 class="bold">Balloting Schedule</h3>
    <%= render 'schedule' %>
  </div>

  <div class="small-12 columns">
    <h3 class="bold">Locker Locations</h3>
    <%= render 'locations' %>
  </div>

  <div class="small-12 columns">
    <h3 class="bold">Terms and Conditions</h3>
    <%= render 'terms' %>
  </div>

  <div class="small-12 columns">
    <h3 class="bold">More Details</h3>
    <%= render 'faqs' %>
  </div>

  <div class="small-12 columns">
    <h3 class="bold">Contact Us</h3>
    <%= render 'contact' %>
  </div>

</div>