<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">Locker Balloting System</h3>
    <div class="text-center"><%= image_tag "locker/benefit.jpg", class: "th radius" %></div>
	  <br>
    <p>
      At the start of the academic year, the NUS Students' Computing Club offers locker service to all undergraduates.
      The students have to ballot for their locker by using the Locker Balloting System. The lockers are released in phases
      and no <strong>registration fee</strong> will be charged for each allocated locker.
    </p>
    <p>
      There are two phases to the locker balloting process. During each round, the system will be opened and undergraduates
      will be able to logging into the Locker Balloting System to make their choices. Those who <strong>failed</strong> to secure a locker in
      round 1 can still ballot for the lockers in Phase 2.
    </p>
    <p>
      Only students from School of Computing will be eligible for balloting. Click the links below for more information before you submit your ballot.
    </p>
    <p>
      Please take note that you can change your preference while the application round is still open. The <strong>results</strong>
      will be release within 3 days after the round has been closed. You will receive an email indicating whether you are allocated
      a locker.
    </p>
	  <p>
		  Please email us at connect@nuscomputing.com if you have any issues or enquiries.
	  </p>
  </div>

	<hr>

  <div class="large-12 columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#announcements">Announcements</a></li>
      <li class="tab-title"><a href="#locations">Locker Locations</a></li>
      <li class="tab-title"><a href="#balloting">Ballot Application</a></li>
      <li class="tab-title"><a href="#faqs">FAQs</a></li>
      <li class="tab-title"><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="large-12 columns">
    <div class="tabs-content">
      <div class="content active" id="announcements">
        <%= render 'announcements' %>
      </div>
      <div class="content" id="locations">
        <%= render 'locations' %>
      </div>
      <div class="content" id="balloting">
        <%= render 'balloting' %>
      </div>
      <div class="content" id="faqs">
        <%= render 'faqs' %>
      </div>
      <div class="content" id="contact">
        <%= render 'contact' %>
      </div>
    </div>
  </div>

</div>