<h1 class="text-center">Locker Allocation</h1>
<%= render 'mc/locker/navigations' %>
<hr />
<%= link_to "Create New Allocation", new_mc_locker_locker_allocation_path, class: "button radius success" %>
<br>
<%= simple_form_for :locker_allocation, url: mc_locker_locker_allocations_path, method: :get, remote: true do |f|  %>
	<%= f.input :year, collection: LockerRound.group(:acad_year), label_method: :acad_year, value_method: :acad_year, include_blank: false %>
	<%= f.button :submit, "Retrieve", class: "radius info button expand", name: nil %>
<% end %>

<div class="allocation-data">
	<%= render partial: 'allocations', locals: { allocations: @allocations } %>
</div>

