<div class="columns small-12 medium-8">
  <h3><small>Ballot for: <%= @round.name %></small></h3>
  <p>
    If you are a Computing undergraduate, you are automatically eligible to ballot for a locker.
    Please submit your ballot while the balloting round is still open.
  </p>
  <p>
    The ballot simply consists of choosing the desired location where you would like your locker to be.
    Check the <%= link_to 'information page', portal_locker_path %> to see where the locations are.
	  Please read the Locker Usage Guidelines before submitting your ballot.
  </p>
  <% if @ballot.persisted? %>
    <p>
      You have made a ballot for <strong>Location <%= @ballot.location %></strong>, last updated at <strong><%= local_time @ballot.updated_at %></strong>
    </p>
  <% end %>
  <p>
    You can edit or cancel your ballot any time you like while the round is open.
  </p>
</div>

<div class="columns small-12 medium-4">
  <h5 class="bold"><%= @ballot.persisted? ? 'Update' : 'Submit' %> Ballot</h5>
  <h6 class="subheader"><%= @round.name %></h6>
  <%= render 'form' %>
</div>